{% extends 'base/base.html' %}


{% block content %}

        <div class="container mt-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Account Number</th>
                            <th scope="col">Currency</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if accounts %}
                            {% for account in accounts %}
                                <tr {% if forloop.counter|divisibleby:2 %}class="table-secondary"{% endif %}>
                                    <td>{{ account.id }}</td>
                                    <td>{{ account.currency }}</td>
                                    <td>{{ account.amount }}</td>
                                    <td>
                                        <a href="{% url 'account_detail' pk=account.id %}" class="btn btn-primary">Details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>

        {% include 'account/account_create.html' %}

        </div>


{% endblock %}
